[Desktop Entry]
Categories=Utility;
Comment[es_ES]=Controlador para tableta gráfica VINSA
Comment=Controlador para tableta gráfica VINSA
Exec=/home/feveal/Programas/Driver_tablet/./v1600p
GenericName[es_ES]=
GenericName=
Icon=/home/feveal/Programas/Driver_tablet/vinsa1600.png
MimeType=
Name[es_ES]=Driver Tablet VINSA 1600 Plus
Name=Driver Tablet VINSA 1600 Plus
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
