[Desktop Entry]
Categories=Utility;
Comment=Driver for VINSA graphics tablet
Exec=/home/*user*/Driver_tablet/./v1060p
GenericName=
Icon=/home/*user*/Driver_tablet/vinsa1060.png
MimeType=
Name=Driver Tablet VINSA 1600 Plus
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
